@if (assignmentTransmis){
    <mat-card>
        <mat-card-content>
            <mat-card-title>{{ assignmentTransmis.nom }}</mat-card-title>
            <mat-card-subtitle>{{ assignmentTransmis.dateLimite | date : 'dd/MM/yyyy' }}</mat-card-subtitle>
            @if (!assignmentTransmis.rendu) {
                <mat-checkbox (click)="onAssignmentRendu()">
                    Devoir rendu
                </mat-checkbox>
            }

            <nav>
                <!-- <a [routerLink]="['/assignment', 1, 'edit']"> -->
                    <button mat-raised-button color="primary" (click)="onClickEdit()" [disabled]="!isAdminUser">
                        Editer le devoir
                    </button>
                <!-- </a> -->
            </nav>
            <button class="supprimerButton" mat-raised-button color="accent" (click)="onDelete()">
                Supprimer le devoir
            </button>
        </mat-card-content>
    </mat-card>
}